/* Webfont: Gotho-5No800ExBd */@font-face {
    font-family: 'Gotho5No800ExBd';
    src: url('Gotho-5No800ExBd.eot'); /* IE9 Compat Modes */
    src: url('Gotho-5No800ExBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotho-5No800ExBd.woff2') format('woff2'), /* Modern Browsers */
         url('Gotho-5No800ExBd.woff') format('woff'), /* Modern Browsers */
         url('Gotho-5No800ExBd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotho-5No800ExBd.svg#Gotho-5No800ExBd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

