/* Webfont: Gotho-8ExWd300Lt */@font-face {
    font-family: 'Gotho8ExWd300Lt';
    src: url('Gotho-8ExWd300Lt.eot'); /* IE9 Compat Modes */
    src: url('Gotho-8ExWd300Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotho-8ExWd300Lt.woff2') format('woff2'), /* Modern Browsers */
         url('Gotho-8ExWd300Lt.woff') format('woff'), /* Modern Browsers */
         url('Gotho-8ExWd300Lt.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotho-8ExWd300Lt.svg#Gotho-8ExWd300Lt') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

