/* Webfont: Gotho-8ExWd600SmBd */@font-face {
    font-family: 'Gotho8ExWd600SmBd';
    src: url('Gotho-8ExWd600SmBd.eot'); /* IE9 Compat Modes */
    src: url('Gotho-8ExWd600SmBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotho-8ExWd600SmBd.woff2') format('woff2'), /* Modern Browsers */
         url('Gotho-8ExWd600SmBd.woff') format('woff'), /* Modern Browsers */
         url('Gotho-8ExWd600SmBd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotho-8ExWd600SmBd.svg#Gotho-8ExWd600SmBd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

