/* Webfont: Gotho-8ExWd900Blk */@font-face {
    font-family: 'Gotho8ExWd900Blk';
    src: url('Gotho-8ExWd900Blk.eot'); /* IE9 Compat Modes */
    src: url('Gotho-8ExWd900Blk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotho-8ExWd900Blk.woff2') format('woff2'), /* Modern Browsers */
         url('Gotho-8ExWd900Blk.woff') format('woff'), /* Modern Browsers */
         url('Gotho-8ExWd900Blk.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotho-8ExWd900Blk.svg#Gotho-8ExWd900Blk') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

