<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>Aacute</key>
  <string>Aacute_.glif</string>
  <key>Abreve</key>
  <string>Abreve_.glif</string>
  <key>Acircumflex</key>
  <string>Acircumflex_.glif</string>
  <key>Adieresis</key>
  <string>Adieresis_.glif</string>
  <key>Agrave</key>
  <string>Agrave_.glif</string>
  <key>Amacron</key>
  <string>Amacron_.glif</string>
  <key>Aogonek</key>
  <string>Aogonek_.glif</string>
  <key>Aring</key>
  <string>Aring_.glif</string>
  <key>Atilde</key>
  <string>Atilde_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Cacute</key>
  <string>Cacute_.glif</string>
  <key>Ccaron</key>
  <string>Ccaron_.glif</string>
  <key>Ccedilla</key>
  <string>Ccedilla_.glif</string>
  <key>Cdotaccent</key>
  <string>Cdotaccent_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Dcaron</key>
  <string>Dcaron_.glif</string>
  <key>Dcroat</key>
  <string>Dcroat_.glif</string>
  <key>uni0394</key>
  <string>uni0394.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>Eacute_.glif</string>
  <key>Ecaron</key>
  <string>Ecaron_.glif</string>
  <key>Ecircumflex</key>
  <string>Ecircumflex_.glif</string>
  <key>Edieresis</key>
  <string>Edieresis_.glif</string>
  <key>Edotaccent</key>
  <string>Edotaccent_.glif</string>
  <key>Egrave</key>
  <string>Egrave_.glif</string>
  <key>Emacron</key>
  <string>Emacron_.glif</string>
  <key>Eng</key>
  <string>Eng_.glif</string>
  <key>Eogonek</key>
  <string>Eogonek_.glif</string>
  <key>Eth</key>
  <string>Eth_.glif</string>
  <key>Euro</key>
  <string>Euro_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gbreve</key>
  <string>Gbreve_.glif</string>
  <key>uni0122</key>
  <string>uni0122.glif</string>
  <key>Gdotaccent</key>
  <string>Gdotaccent_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hbar</key>
  <string>Hbar_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>IJ__.glif</string>
  <key>Iacute</key>
  <string>Iacute_.glif</string>
  <key>Icircumflex</key>
  <string>Icircumflex_.glif</string>
  <key>Idieresis</key>
  <string>Idieresis_.glif</string>
  <key>Idotaccent</key>
  <string>Idotaccent_.glif</string>
  <key>Igrave</key>
  <string>Igrave_.glif</string>
  <key>Imacron</key>
  <string>Imacron_.glif</string>
  <key>Iogonek</key>
  <string>Iogonek_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>uni0136</key>
  <string>uni0136.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lacute</key>
  <string>Lacute_.glif</string>
  <key>Lcaron</key>
  <string>Lcaron_.glif</string>
  <key>uni013B</key>
  <string>uni013B_.glif</string>
  <key>Ldot</key>
  <string>Ldot_.glif</string>
  <key>Lslash</key>
  <string>Lslash_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Nacute</key>
  <string>Nacute_.glif</string>
  <key>Ncaron</key>
  <string>Ncaron_.glif</string>
  <key>uni0145</key>
  <string>uni0145.glif</string>
  <key>Ntilde</key>
  <string>Ntilde_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>Oacute</key>
  <string>Oacute_.glif</string>
  <key>Ocircumflex</key>
  <string>Ocircumflex_.glif</string>
  <key>Odieresis</key>
  <string>Odieresis_.glif</string>
  <key>Ograve</key>
  <string>Ograve_.glif</string>
  <key>Ohungarumlaut</key>
  <string>Ohungarumlaut_.glif</string>
  <key>Omacron</key>
  <string>Omacron_.glif</string>
  <key>uni03A9</key>
  <string>uni03A9_.glif</string>
  <key>Oslash</key>
  <string>Oslash_.glif</string>
  <key>Otilde</key>
  <string>Otilde_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Racute</key>
  <string>Racute_.glif</string>
  <key>Rcaron</key>
  <string>Rcaron_.glif</string>
  <key>uni0156</key>
  <string>uni0156.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sacute</key>
  <string>Sacute_.glif</string>
  <key>Scaron</key>
  <string>Scaron_.glif</string>
  <key>Scedilla</key>
  <string>Scedilla_.glif</string>
  <key>uni0218</key>
  <string>uni0218.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>Tbar_.glif</string>
  <key>Tcaron</key>
  <string>Tcaron_.glif</string>
  <key>uni0162</key>
  <string>uni0162.glif</string>
  <key>Thorn</key>
  <string>Thorn_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>Uacute_.glif</string>
  <key>Ucircumflex</key>
  <string>Ucircumflex_.glif</string>
  <key>Udieresis</key>
  <string>Udieresis_.glif</string>
  <key>Ugrave</key>
  <string>Ugrave_.glif</string>
  <key>Uhungarumlaut</key>
  <string>Uhungarumlaut_.glif</string>
  <key>Umacron</key>
  <string>Umacron_.glif</string>
  <key>Uogonek</key>
  <string>Uogonek_.glif</string>
  <key>Uring</key>
  <string>Uring_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wacute</key>
  <string>Wacute_.glif</string>
  <key>Wcircumflex</key>
  <string>Wcircumflex_.glif</string>
  <key>Wdieresis</key>
  <string>Wdieresis_.glif</string>
  <key>Wgrave</key>
  <string>Wgrave_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Yacute_.glif</string>
  <key>Ycircumflex</key>
  <string>Ycircumflex_.glif</string>
  <key>Ydieresis</key>
  <string>Ydieresis_.glif</string>
  <key>Ygrave</key>
  <string>Ygrave_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zacute</key>
  <string>Zacute_.glif</string>
  <key>Zcaron</key>
  <string>Zcaron_.glif</string>
  <key>Zdotaccent</key>
  <string>Zdotaccent_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>uni0326</key>
  <string>uni0326.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>uni0123</key>
  <string>uni0123.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>uni0137</key>
  <string>uni0137.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>uni013C</key>
  <string>uni013C_.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>uni03BC</key>
  <string>uni03BC__.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>uni0146</key>
  <string>uni0146.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>uni0157</key>
  <string>uni0157.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>uni0219</key>
  <string>uni0219.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>uni00AD</key>
  <string>uni00AD__.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>uni0163</key>
  <string>uni0163.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni021A</key>
  <string>uni021A_.glif</string>
  <key>uni021B</key>
  <string>uni021B_.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>A.001</key>
  <string>A_.001.glif</string>
  <key>AE.001</key>
  <string>AE__.001.glif</string>
  <key>Aacute.001</key>
  <string>Aacute_.001.glif</string>
  <key>Abreve.001</key>
  <string>Abreve_.001.glif</string>
  <key>Acircumflex.001</key>
  <string>Acircumflex_.001.glif</string>
  <key>Adieresis.001</key>
  <string>Adieresis_.001.glif</string>
  <key>Agrave.001</key>
  <string>Agrave_.001.glif</string>
  <key>Amacron.001</key>
  <string>Amacron_.001.glif</string>
  <key>Aogonek.001</key>
  <string>Aogonek_.001.glif</string>
  <key>Aring.001</key>
  <string>Aring_.001.glif</string>
  <key>Atilde.001</key>
  <string>Atilde_.001.glif</string>
  <key>B.001</key>
  <string>B_.001.glif</string>
  <key>C.001</key>
  <string>C_.001.glif</string>
  <key>Cacute.001</key>
  <string>Cacute_.001.glif</string>
  <key>Ccaron.001</key>
  <string>Ccaron_.001.glif</string>
  <key>Ccedilla.001</key>
  <string>Ccedilla_.001.glif</string>
  <key>Cdotaccent.001</key>
  <string>Cdotaccent_.001.glif</string>
  <key>D.001</key>
  <string>D_.001.glif</string>
  <key>Dcaron.001</key>
  <string>Dcaron_.001.glif</string>
  <key>Dcroat.001</key>
  <string>Dcroat_.001.glif</string>
  <key>uni0394.001</key>
  <string>uni0394.001.glif</string>
  <key>E.001</key>
  <string>E_.001.glif</string>
  <key>Eacute.001</key>
  <string>Eacute_.001.glif</string>
  <key>Ecaron.001</key>
  <string>Ecaron_.001.glif</string>
  <key>Ecircumflex.001</key>
  <string>Ecircumflex_.001.glif</string>
  <key>Edieresis.001</key>
  <string>Edieresis_.001.glif</string>
  <key>Edotaccent.001</key>
  <string>Edotaccent_.001.glif</string>
  <key>Egrave.001</key>
  <string>Egrave_.001.glif</string>
  <key>Emacron.001</key>
  <string>Emacron_.001.glif</string>
  <key>Eng.001</key>
  <string>Eng_.001.glif</string>
  <key>Eogonek.001</key>
  <string>Eogonek_.001.glif</string>
  <key>Eth.001</key>
  <string>Eth_.001.glif</string>
  <key>F.001</key>
  <string>F_.001.glif</string>
  <key>G.001</key>
  <string>G_.001.glif</string>
  <key>Gbreve.001</key>
  <string>Gbreve_.001.glif</string>
  <key>uni0122.001</key>
  <string>uni0122.001.glif</string>
  <key>Gdotaccent.001</key>
  <string>Gdotaccent_.001.glif</string>
  <key>H.001</key>
  <string>H_.001.glif</string>
  <key>Hbar.001</key>
  <string>Hbar_.001.glif</string>
  <key>I.001</key>
  <string>I_.001.glif</string>
  <key>IJ.001</key>
  <string>IJ__.001.glif</string>
  <key>Iacute.001</key>
  <string>Iacute_.001.glif</string>
  <key>Icircumflex.001</key>
  <string>Icircumflex_.001.glif</string>
  <key>Idieresis.001</key>
  <string>Idieresis_.001.glif</string>
  <key>Idotaccent.001</key>
  <string>Idotaccent_.001.glif</string>
  <key>Igrave.001</key>
  <string>Igrave_.001.glif</string>
  <key>Imacron.001</key>
  <string>Imacron_.001.glif</string>
  <key>Iogonek.001</key>
  <string>Iogonek_.001.glif</string>
  <key>J.001</key>
  <string>J_.001.glif</string>
  <key>K.001</key>
  <string>K_.001.glif</string>
  <key>uni0136.001</key>
  <string>uni0136.001.glif</string>
  <key>L.001</key>
  <string>L_.001.glif</string>
  <key>Lacute.001</key>
  <string>Lacute_.001.glif</string>
  <key>Lcaron.001</key>
  <string>Lcaron_.001.glif</string>
  <key>uni013B.001</key>
  <string>uni013B_.001.glif</string>
  <key>Ldot.001</key>
  <string>Ldot_.001.glif</string>
  <key>Lslash.001</key>
  <string>Lslash_.001.glif</string>
  <key>M.001</key>
  <string>M_.001.glif</string>
  <key>N.001</key>
  <string>N_.001.glif</string>
  <key>Nacute.001</key>
  <string>Nacute_.001.glif</string>
  <key>Ncaron.001</key>
  <string>Ncaron_.001.glif</string>
  <key>uni0145.001</key>
  <string>uni0145.001.glif</string>
  <key>Ntilde.001</key>
  <string>Ntilde_.001.glif</string>
  <key>O.001</key>
  <string>O_.001.glif</string>
  <key>OE.001</key>
  <string>OE__.001.glif</string>
  <key>Oacute.001</key>
  <string>Oacute_.001.glif</string>
  <key>Ocircumflex.001</key>
  <string>Ocircumflex_.001.glif</string>
  <key>Odieresis.001</key>
  <string>Odieresis_.001.glif</string>
  <key>Ograve.001</key>
  <string>Ograve_.001.glif</string>
  <key>Ohungarumlaut.001</key>
  <string>Ohungarumlaut_.001.glif</string>
  <key>Omacron.001</key>
  <string>Omacron_.001.glif</string>
  <key>uni03A9.001</key>
  <string>uni03A9_.001.glif</string>
  <key>Oslash.001</key>
  <string>Oslash_.001.glif</string>
  <key>Otilde.001</key>
  <string>Otilde_.001.glif</string>
  <key>P.001</key>
  <string>P_.001.glif</string>
  <key>Q.001</key>
  <string>Q_.001.glif</string>
  <key>R.001</key>
  <string>R_.001.glif</string>
  <key>Racute.001</key>
  <string>Racute_.001.glif</string>
  <key>Rcaron.001</key>
  <string>Rcaron_.001.glif</string>
  <key>uni0156.001</key>
  <string>uni0156.001.glif</string>
  <key>S.001</key>
  <string>S_.001.glif</string>
  <key>Sacute.001</key>
  <string>Sacute_.001.glif</string>
  <key>Scaron.001</key>
  <string>Scaron_.001.glif</string>
  <key>Scedilla.001</key>
  <string>Scedilla_.001.glif</string>
  <key>uni0218.001</key>
  <string>uni0218.001.glif</string>
  <key>T.001</key>
  <string>T_.001.glif</string>
  <key>Tbar.001</key>
  <string>Tbar_.001.glif</string>
  <key>Tcaron.001</key>
  <string>Tcaron_.001.glif</string>
  <key>uni0162.001</key>
  <string>uni0162.001.glif</string>
  <key>uni021A.001</key>
  <string>uni021A_.001.glif</string>
  <key>Thorn.001</key>
  <string>Thorn_.001.glif</string>
  <key>U.001</key>
  <string>U_.001.glif</string>
  <key>Uacute.001</key>
  <string>Uacute_.001.glif</string>
  <key>Ucircumflex.001</key>
  <string>Ucircumflex_.001.glif</string>
  <key>Udieresis.001</key>
  <string>Udieresis_.001.glif</string>
  <key>Ugrave.001</key>
  <string>Ugrave_.001.glif</string>
  <key>Uhungarumlaut.001</key>
  <string>Uhungarumlaut_.001.glif</string>
  <key>Umacron.001</key>
  <string>Umacron_.001.glif</string>
  <key>Uogonek.001</key>
  <string>Uogonek_.001.glif</string>
  <key>Uring.001</key>
  <string>Uring_.001.glif</string>
  <key>V.001</key>
  <string>V_.001.glif</string>
  <key>W.001</key>
  <string>W_.001.glif</string>
  <key>Wacute.001</key>
  <string>Wacute_.001.glif</string>
  <key>Wcircumflex.001</key>
  <string>Wcircumflex_.001.glif</string>
  <key>Wdieresis.001</key>
  <string>Wdieresis_.001.glif</string>
  <key>Wgrave.001</key>
  <string>Wgrave_.001.glif</string>
  <key>X.001</key>
  <string>X_.001.glif</string>
  <key>Y.001</key>
  <string>Y_.001.glif</string>
  <key>Yacute.001</key>
  <string>Yacute_.001.glif</string>
  <key>Ycircumflex.001</key>
  <string>Ycircumflex_.001.glif</string>
  <key>Ydieresis.001</key>
  <string>Ydieresis_.001.glif</string>
  <key>Ygrave.001</key>
  <string>Ygrave_.001.glif</string>
  <key>Z.001</key>
  <string>Z_.001.glif</string>
  <key>Zacute.001</key>
  <string>Zacute_.001.glif</string>
  <key>Zcaron.001</key>
  <string>Zcaron_.001.glif</string>
  <key>Zdotaccent.001</key>
  <string>Zdotaccent_.001.glif</string>
  <key>a.001</key>
  <string>a.001.glif</string>
  <key>aacute.001</key>
  <string>aacute.001.glif</string>
  <key>abreve.001</key>
  <string>abreve.001.glif</string>
  <key>acircumflex.001</key>
  <string>acircumflex.001.glif</string>
  <key>acute.001</key>
  <string>acute.001.glif</string>
  <key>adieresis.001</key>
  <string>adieresis.001.glif</string>
  <key>ae.001</key>
  <string>ae.001.glif</string>
  <key>agrave.001</key>
  <string>agrave.001.glif</string>
  <key>amacron.001</key>
  <string>amacron.001.glif</string>
  <key>ampersand.001</key>
  <string>ampersand.001.glif</string>
  <key>aogonek.001</key>
  <string>aogonek.001.glif</string>
  <key>approxequal.001</key>
  <string>approxequal.001.glif</string>
  <key>aring.001</key>
  <string>aring.001.glif</string>
  <key>asciicircum.001</key>
  <string>asciicircum.001.glif</string>
  <key>asciitilde.001</key>
  <string>asciitilde.001.glif</string>
  <key>asterisk.001</key>
  <string>asterisk.001.glif</string>
  <key>at.001</key>
  <string>at.001.glif</string>
  <key>atilde.001</key>
  <string>atilde.001.glif</string>
  <key>b.001</key>
  <string>b.001.glif</string>
  <key>backslash.001</key>
  <string>backslash.001.glif</string>
  <key>bar.001</key>
  <string>bar.001.glif</string>
  <key>braceleft.001</key>
  <string>braceleft.001.glif</string>
  <key>braceright.001</key>
  <string>braceright.001.glif</string>
  <key>bracketleft.001</key>
  <string>bracketleft.001.glif</string>
  <key>bracketright.001</key>
  <string>bracketright.001.glif</string>
  <key>breve.001</key>
  <string>breve.001.glif</string>
  <key>brokenbar.001</key>
  <string>brokenbar.001.glif</string>
  <key>bullet.001</key>
  <string>bullet.001.glif</string>
  <key>c.001</key>
  <string>c.001.glif</string>
  <key>cacute.001</key>
  <string>cacute.001.glif</string>
  <key>caron.001</key>
  <string>caron.001.glif</string>
  <key>ccaron.001</key>
  <string>ccaron.001.glif</string>
  <key>ccedilla.001</key>
  <string>ccedilla.001.glif</string>
  <key>cdotaccent.001</key>
  <string>cdotaccent.001.glif</string>
  <key>cedilla.001</key>
  <string>cedilla.001.glif</string>
  <key>cent.001</key>
  <string>cent.001.glif</string>
  <key>circumflex.001</key>
  <string>circumflex.001.glif</string>
  <key>colon.001</key>
  <string>colon.001.glif</string>
  <key>comma.001</key>
  <string>comma.001.glif</string>
  <key>uni0326.001</key>
  <string>uni0326.001.glif</string>
  <key>copyright.001</key>
  <string>copyright.001.glif</string>
  <key>currency.001</key>
  <string>currency.001.glif</string>
  <key>d.001</key>
  <string>d.001.glif</string>
  <key>dagger.001</key>
  <string>dagger.001.glif</string>
  <key>daggerdbl.001</key>
  <string>daggerdbl.001.glif</string>
  <key>dcaron.001</key>
  <string>dcaron.001.glif</string>
  <key>dcroat.001</key>
  <string>dcroat.001.glif</string>
  <key>degree.001</key>
  <string>degree.001.glif</string>
  <key>dieresis.001</key>
  <string>dieresis.001.glif</string>
  <key>divide.001</key>
  <string>divide.001.glif</string>
  <key>dollar.001</key>
  <string>dollar.001.glif</string>
  <key>dotaccent.001</key>
  <string>dotaccent.001.glif</string>
  <key>dotlessi.001</key>
  <string>dotlessi.001.glif</string>
  <key>e.001</key>
  <string>e.001.glif</string>
  <key>eacute.001</key>
  <string>eacute.001.glif</string>
  <key>ecaron.001</key>
  <string>ecaron.001.glif</string>
  <key>ecircumflex.001</key>
  <string>ecircumflex.001.glif</string>
  <key>edieresis.001</key>
  <string>edieresis.001.glif</string>
  <key>edotaccent.001</key>
  <string>edotaccent.001.glif</string>
  <key>egrave.001</key>
  <string>egrave.001.glif</string>
  <key>eight.001</key>
  <string>eight.001.glif</string>
  <key>ellipsis.001</key>
  <string>ellipsis.001.glif</string>
  <key>emacron.001</key>
  <string>emacron.001.glif</string>
  <key>emdash.001</key>
  <string>emdash.001.glif</string>
  <key>endash.001</key>
  <string>endash.001.glif</string>
  <key>eng.001</key>
  <string>eng.001.glif</string>
  <key>eogonek.001</key>
  <string>eogonek.001.glif</string>
  <key>equal.001</key>
  <string>equal.001.glif</string>
  <key>eth.001</key>
  <string>eth.001.glif</string>
  <key>Euro.001</key>
  <string>Euro_.001.glif</string>
  <key>exclam.001</key>
  <string>exclam.001.glif</string>
  <key>exclamdown.001</key>
  <string>exclamdown.001.glif</string>
  <key>f.001</key>
  <string>f.001.glif</string>
  <key>fi.001</key>
  <string>fi.001.glif</string>
  <key>five.001</key>
  <string>five.001.glif</string>
  <key>fl.001</key>
  <string>fl.001.glif</string>
  <key>florin.001</key>
  <string>florin.001.glif</string>
  <key>four.001</key>
  <string>four.001.glif</string>
  <key>fraction.001</key>
  <string>fraction.001.glif</string>
  <key>g.001</key>
  <string>g.001.glif</string>
  <key>gbreve.001</key>
  <string>gbreve.001.glif</string>
  <key>uni0123.001</key>
  <string>uni0123.001.glif</string>
  <key>gdotaccent.001</key>
  <string>gdotaccent.001.glif</string>
  <key>germandbls.001</key>
  <string>germandbls.001.glif</string>
  <key>grave.001</key>
  <string>grave.001.glif</string>
  <key>greater.001</key>
  <string>greater.001.glif</string>
  <key>greaterequal.001</key>
  <string>greaterequal.001.glif</string>
  <key>guillemotleft.001</key>
  <string>guillemotleft.001.glif</string>
  <key>guillemotright.001</key>
  <string>guillemotright.001.glif</string>
  <key>guilsinglleft.001</key>
  <string>guilsinglleft.001.glif</string>
  <key>guilsinglright.001</key>
  <string>guilsinglright.001.glif</string>
  <key>h.001</key>
  <string>h.001.glif</string>
  <key>hbar.001</key>
  <string>hbar.001.glif</string>
  <key>hungarumlaut.001</key>
  <string>hungarumlaut.001.glif</string>
  <key>hyphen.001</key>
  <string>hyphen.001.glif</string>
  <key>i.001</key>
  <string>i.001.glif</string>
  <key>iacute.001</key>
  <string>iacute.001.glif</string>
  <key>icircumflex.001</key>
  <string>icircumflex.001.glif</string>
  <key>idieresis.001</key>
  <string>idieresis.001.glif</string>
  <key>igrave.001</key>
  <string>igrave.001.glif</string>
  <key>ij.001</key>
  <string>ij.001.glif</string>
  <key>imacron.001</key>
  <string>imacron.001.glif</string>
  <key>infinity.001</key>
  <string>infinity.001.glif</string>
  <key>integral.001</key>
  <string>integral.001.glif</string>
  <key>iogonek.001</key>
  <string>iogonek.001.glif</string>
  <key>j.001</key>
  <string>j.001.glif</string>
  <key>k.001</key>
  <string>k.001.glif</string>
  <key>uni0137.001</key>
  <string>uni0137.001.glif</string>
  <key>l.001</key>
  <string>l.001.glif</string>
  <key>lacute.001</key>
  <string>lacute.001.glif</string>
  <key>lcaron.001</key>
  <string>lcaron.001.glif</string>
  <key>uni013C.001</key>
  <string>uni013C_.001.glif</string>
  <key>ldot.001</key>
  <string>ldot.001.glif</string>
  <key>less.001</key>
  <string>less.001.glif</string>
  <key>lessequal.001</key>
  <string>lessequal.001.glif</string>
  <key>logicalnot.001</key>
  <string>logicalnot.001.glif</string>
  <key>lozenge.001</key>
  <string>lozenge.001.glif</string>
  <key>lslash.001</key>
  <string>lslash.001.glif</string>
  <key>m.001</key>
  <string>m.001.glif</string>
  <key>macron.001</key>
  <string>macron.001.glif</string>
  <key>minus.001</key>
  <string>minus.001.glif</string>
  <key>uni03BC.001</key>
  <string>uni03BC__.001.glif</string>
  <key>multiply.001</key>
  <string>multiply.001.glif</string>
  <key>n.001</key>
  <string>n.001.glif</string>
  <key>nacute.001</key>
  <string>nacute.001.glif</string>
  <key>ncaron.001</key>
  <string>ncaron.001.glif</string>
  <key>uni0146.001</key>
  <string>uni0146.001.glif</string>
  <key>nine.001</key>
  <string>nine.001.glif</string>
  <key>notequal.001</key>
  <string>notequal.001.glif</string>
  <key>ntilde.001</key>
  <string>ntilde.001.glif</string>
  <key>numbersign.001</key>
  <string>numbersign.001.glif</string>
  <key>o.001</key>
  <string>o.001.glif</string>
  <key>oacute.001</key>
  <string>oacute.001.glif</string>
  <key>ocircumflex.001</key>
  <string>ocircumflex.001.glif</string>
  <key>odieresis.001</key>
  <string>odieresis.001.glif</string>
  <key>oe.001</key>
  <string>oe.001.glif</string>
  <key>ogonek.001</key>
  <string>ogonek.001.glif</string>
  <key>ograve.001</key>
  <string>ograve.001.glif</string>
  <key>ohungarumlaut.001</key>
  <string>ohungarumlaut.001.glif</string>
  <key>omacron.001</key>
  <string>omacron.001.glif</string>
  <key>one.001</key>
  <string>one.001.glif</string>
  <key>onehalf.001</key>
  <string>onehalf.001.glif</string>
  <key>onequarter.001</key>
  <string>onequarter.001.glif</string>
  <key>onesuperior.001</key>
  <string>onesuperior.001.glif</string>
  <key>ordfeminine.001</key>
  <string>ordfeminine.001.glif</string>
  <key>ordmasculine.001</key>
  <string>ordmasculine.001.glif</string>
  <key>oslash.001</key>
  <string>oslash.001.glif</string>
  <key>otilde.001</key>
  <string>otilde.001.glif</string>
  <key>p.001</key>
  <string>p.001.glif</string>
  <key>paragraph.001</key>
  <string>paragraph.001.glif</string>
  <key>parenleft.001</key>
  <string>parenleft.001.glif</string>
  <key>parenright.001</key>
  <string>parenright.001.glif</string>
  <key>partialdiff.001</key>
  <string>partialdiff.001.glif</string>
  <key>percent.001</key>
  <string>percent.001.glif</string>
  <key>period.001</key>
  <string>period.001.glif</string>
  <key>periodcentered.001</key>
  <string>periodcentered.001.glif</string>
  <key>perthousand.001</key>
  <string>perthousand.001.glif</string>
  <key>pi.001</key>
  <string>pi.001.glif</string>
  <key>plus.001</key>
  <string>plus.001.glif</string>
  <key>plusminus.001</key>
  <string>plusminus.001.glif</string>
  <key>product.001</key>
  <string>product.001.glif</string>
  <key>q.001</key>
  <string>q.001.glif</string>
  <key>question.001</key>
  <string>question.001.glif</string>
  <key>questiondown.001</key>
  <string>questiondown.001.glif</string>
  <key>quotedbl.001</key>
  <string>quotedbl.001.glif</string>
  <key>quotedblbase.001</key>
  <string>quotedblbase.001.glif</string>
  <key>quotedblleft.001</key>
  <string>quotedblleft.001.glif</string>
  <key>quotedblright.001</key>
  <string>quotedblright.001.glif</string>
  <key>quoteleft.001</key>
  <string>quoteleft.001.glif</string>
  <key>quoteright.001</key>
  <string>quoteright.001.glif</string>
  <key>quotesinglbase.001</key>
  <string>quotesinglbase.001.glif</string>
  <key>quotesingle.001</key>
  <string>quotesingle.001.glif</string>
  <key>r.001</key>
  <string>r.001.glif</string>
  <key>racute.001</key>
  <string>racute.001.glif</string>
  <key>radical.001</key>
  <string>radical.001.glif</string>
  <key>rcaron.001</key>
  <string>rcaron.001.glif</string>
  <key>uni0157.001</key>
  <string>uni0157.001.glif</string>
  <key>registered.001</key>
  <string>registered.001.glif</string>
  <key>ring.001</key>
  <string>ring.001.glif</string>
  <key>s.001</key>
  <string>s.001.glif</string>
  <key>sacute.001</key>
  <string>sacute.001.glif</string>
  <key>scaron.001</key>
  <string>scaron.001.glif</string>
  <key>scedilla.001</key>
  <string>scedilla.001.glif</string>
  <key>uni0219.001</key>
  <string>uni0219.001.glif</string>
  <key>section.001</key>
  <string>section.001.glif</string>
  <key>semicolon.001</key>
  <string>semicolon.001.glif</string>
  <key>seven.001</key>
  <string>seven.001.glif</string>
  <key>six.001</key>
  <string>six.001.glif</string>
  <key>slash.001</key>
  <string>slash.001.glif</string>
  <key>uni00AD.001</key>
  <string>uni00AD__.001.glif</string>
  <key>space.001</key>
  <string>space.001.glif</string>
  <key>sterling.001</key>
  <string>sterling.001.glif</string>
  <key>summation.001</key>
  <string>summation.001.glif</string>
  <key>t.001</key>
  <string>t.001.glif</string>
  <key>tbar.001</key>
  <string>tbar.001.glif</string>
  <key>tcaron.001</key>
  <string>tcaron.001.glif</string>
  <key>uni0163.001</key>
  <string>uni0163.001.glif</string>
  <key>uni021B.001</key>
  <string>uni021B_.001.glif</string>
  <key>thorn.001</key>
  <string>thorn.001.glif</string>
  <key>three.001</key>
  <string>three.001.glif</string>
  <key>threequarters.001</key>
  <string>threequarters.001.glif</string>
  <key>threesuperior.001</key>
  <string>threesuperior.001.glif</string>
  <key>tilde.001</key>
  <string>tilde.001.glif</string>
  <key>trademark.001</key>
  <string>trademark.001.glif</string>
  <key>two.001</key>
  <string>two.001.glif</string>
  <key>twosuperior.001</key>
  <string>twosuperior.001.glif</string>
  <key>u.001</key>
  <string>u.001.glif</string>
  <key>uacute.001</key>
  <string>uacute.001.glif</string>
  <key>ucircumflex.001</key>
  <string>ucircumflex.001.glif</string>
  <key>udieresis.001</key>
  <string>udieresis.001.glif</string>
  <key>ugrave.001</key>
  <string>ugrave.001.glif</string>
  <key>uhungarumlaut.001</key>
  <string>uhungarumlaut.001.glif</string>
  <key>umacron.001</key>
  <string>umacron.001.glif</string>
  <key>underscore.001</key>
  <string>underscore.001.glif</string>
  <key>uogonek.001</key>
  <string>uogonek.001.glif</string>
  <key>uring.001</key>
  <string>uring.001.glif</string>
  <key>v.001</key>
  <string>v.001.glif</string>
  <key>w.001</key>
  <string>w.001.glif</string>
  <key>wacute.001</key>
  <string>wacute.001.glif</string>
  <key>wcircumflex.001</key>
  <string>wcircumflex.001.glif</string>
  <key>wdieresis.001</key>
  <string>wdieresis.001.glif</string>
  <key>wgrave.001</key>
  <string>wgrave.001.glif</string>
  <key>x.001</key>
  <string>x.001.glif</string>
  <key>y.001</key>
  <string>y.001.glif</string>
  <key>yacute.001</key>
  <string>yacute.001.glif</string>
  <key>ycircumflex.001</key>
  <string>ycircumflex.001.glif</string>
  <key>ydieresis.001</key>
  <string>ydieresis.001.glif</string>
  <key>yen.001</key>
  <string>yen.001.glif</string>
  <key>ygrave.001</key>
  <string>ygrave.001.glif</string>
  <key>z.001</key>
  <string>z.001.glif</string>
  <key>zacute.001</key>
  <string>zacute.001.glif</string>
  <key>zcaron.001</key>
  <string>zcaron.001.glif</string>
  <key>zdotaccent.001</key>
  <string>zdotaccent.001.glif</string>
  <key>zero.001</key>
  <string>zero.001.glif</string>
  <key>A</key>
  <string>A_.glif</string>
</dict>
</plist>
