/* Webfont: Gotho-4SmCd800ExBd */@font-face {
    font-family: 'Gotho4SmCd800ExBd';
    src: url('Gotho-4SmCd800ExBd.eot'); /* IE9 Compat Modes */
    src: url('Gotho-4SmCd800ExBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotho-4SmCd800ExBd.woff2') format('woff2'), /* Modern Browsers */
         url('Gotho-4SmCd800ExBd.woff') format('woff'), /* Modern Browsers */
         url('Gotho-4SmCd800ExBd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotho-4SmCd800ExBd.svg#Gotho-4SmCd800ExBd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

