/* Webfont: Gotho-2ExCd800ExBd */@font-face {
    font-family: 'Gotho2ExCd800ExBd';
    src: url('Gotho-2ExCd800ExBd.eot'); /* IE9 Compat Modes */
    src: url('Gotho-2ExCd800ExBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotho-2ExCd800ExBd.woff2') format('woff2'), /* Modern Browsers */
         url('Gotho-2ExCd800ExBd.woff') format('woff'), /* Modern Browsers */
         url('Gotho-2ExCd800ExBd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotho-2ExCd800ExBd.svg#Gotho-2ExCd800ExBd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

