<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>y</key>
    <integer>-85</integer>
    <key>w</key>
    <integer>-65</integer>
    <key>v</key>
    <integer>-90</integer>
    <key>u</key>
    <integer>-20</integer>
    <key>t</key>
    <integer>-50</integer>
    <key>slash</key>
    <integer>40</integer>
    <key>quotedbl</key>
    <integer>-90</integer>
    <key>guillemotleft</key>
    <integer>-60</integer>
    <key>emdash</key>
    <integer>-10</integer>
    <key>c</key>
    <integer>-25</integer>
    <key>backslash</key>
    <integer>-50</integer>
    <key>asterisk</key>
    <integer>-140</integer>
    <key>Y</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-85</integer>
    <key>V</key>
    <integer>-105</integer>
    <key>U</key>
    <integer>-35</integer>
    <key>T</key>
    <integer>-70</integer>
    <key>C</key>
    <integer>-35</integer>
  </dict>
  <key>o.001</key>
  <dict>
    <key>g.001</key>
    <integer>10</integer>
    <key>c.001</key>
    <integer>10</integer>
  </dict>
  <key>h.001</key>
  <dict>
    <key>e.001</key>
    <integer>-337</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>zero</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>-25</integer>
    <key>three</key>
    <integer>-15</integer>
    <key>seven</key>
    <integer>-20</integer>
    <key>comma</key>
    <integer>-35</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>emdash</key>
    <integer>-30</integer>
    <key>c</key>
    <integer>-10</integer>
    <key>asterisk</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-10</integer>
    <key>W</key>
    <integer>-5</integer>
    <key>V</key>
    <integer>-5</integer>
    <key>T</key>
    <integer>-25</integer>
  </dict>
  <key>y</key>
  <dict>
    <key>A</key>
    <integer>-70</integer>
    <key>t</key>
    <integer>10</integer>
    <key>slash</key>
    <integer>-40</integer>
    <key>m</key>
    <integer>-25</integer>
    <key>emdash</key>
    <integer>-60</integer>
    <key>comma</key>
    <integer>-95</integer>
    <key>c</key>
    <integer>-35</integer>
    <key>asterisk</key>
    <integer>25</integer>
    <key>a</key>
    <integer>-90</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>slash</key>
    <integer>40</integer>
    <key>guillemotleft</key>
    <integer>-15</integer>
    <key>emdash</key>
    <integer>-60</integer>
    <key>c</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>25</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>A</key>
    <integer>-65</integer>
    <key>t</key>
    <integer>10</integer>
    <key>emdash</key>
    <integer>-15</integer>
    <key>comma</key>
    <integer>-60</integer>
    <key>c</key>
    <integer>-10</integer>
    <key>asterisk</key>
    <integer>25</integer>
    <key>a</key>
    <integer>-90</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>A</key>
    <integer>-75</integer>
    <key>t</key>
    <integer>10</integer>
    <key>m</key>
    <integer>-10</integer>
    <key>emdash</key>
    <integer>-30</integer>
    <key>comma</key>
    <integer>-115</integer>
    <key>c</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>25</integer>
    <key>a</key>
    <integer>-85</integer>
    <key>M</key>
    <integer>-25</integer>
  </dict>
  <key>u</key>
  <dict>
    <key>A</key>
    <integer>-20</integer>
    <key>m</key>
    <integer>-5</integer>
    <key>comma</key>
    <integer>-30</integer>
    <key>c</key>
    <integer>-13</integer>
    <key>a</key>
    <integer>-35</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>four</key>
    <integer>-15</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>seven</key>
    <integer>-10</integer>
    <key>comma</key>
    <integer>-35</integer>
  </dict>
  <key>thorn</key>
  <dict>
    <key>b</key>
    <integer>-30</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>y</key>
    <integer>10</integer>
    <key>w</key>
    <integer>10</integer>
    <key>v</key>
    <integer>10</integer>
    <key>t</key>
    <integer>15</integer>
    <key>guillemotleft</key>
    <integer>-20</integer>
    <key>emdash</key>
    <integer>-70</integer>
    <key>comma</key>
    <integer>-70</integer>
    <key>c</key>
    <integer>-30</integer>
    <key>asterisk</key>
    <integer>25</integer>
    <key>a</key>
    <integer>-70</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>y</key>
    <integer>15</integer>
    <key>w</key>
    <integer>15</integer>
    <key>v</key>
    <integer>15</integer>
    <key>a</key>
    <integer>-70</integer>
    <key>Y</key>
    <integer>40</integer>
    <key>X</key>
    <integer>30</integer>
    <key>W</key>
    <integer>40</integer>
    <key>V</key>
    <integer>40</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>two</key>
    <integer>-35</integer>
    <key>three</key>
    <integer>-25</integer>
    <key>seven</key>
    <integer>-25</integer>
    <key>nine</key>
    <integer>-30</integer>
    <key>emdash</key>
    <integer>15</integer>
    <key>colon</key>
    <integer>-10</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>zero</key>
    <integer>-25</integer>
    <key>six</key>
    <integer>-25</integer>
    <key>four</key>
    <integer>-45</integer>
    <key>emdash</key>
    <integer>-40</integer>
    <key>eight</key>
    <integer>-20</integer>
    <key>divide</key>
    <integer>-30</integer>
    <key>comma</key>
    <integer>-110</integer>
  </dict>
  <key>s</key>
  <dict>
    <key>asterisk</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-20</integer>
    <key>W</key>
    <integer>-8</integer>
    <key>V</key>
    <integer>-15</integer>
    <key>T</key>
    <integer>-10</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>y</key>
    <integer>-45</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-40</integer>
    <key>u</key>
    <integer>-20</integer>
    <key>t</key>
    <integer>-25</integer>
    <key>slash</key>
    <integer>40</integer>
    <key>m</key>
    <integer>-15</integer>
    <key>c</key>
    <integer>-35</integer>
    <key>asterisk</key>
    <integer>-65</integer>
    <key>Y</key>
    <integer>-70</integer>
    <key>W</key>
    <integer>-55</integer>
    <key>V</key>
    <integer>-75</integer>
    <key>U</key>
    <integer>-45</integer>
    <key>T</key>
    <integer>-55</integer>
    <key>C</key>
    <integer>-20</integer>
  </dict>
  <key>quotedbl</key>
  <dict>
    <key>A</key>
    <integer>-130</integer>
    <key>m</key>
    <integer>-60</integer>
    <key>a</key>
    <integer>-140</integer>
    <key>Y</key>
    <integer>40</integer>
    <key>V</key>
    <integer>35</integer>
    <key>T</key>
    <integer>50</integer>
    <key>M</key>
    <integer>-50</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>m</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>5</integer>
    <key>a</key>
    <integer>-55</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>X</key>
    <integer>-35</integer>
    <key>W</key>
    <integer>-5</integer>
    <key>V</key>
    <integer>-25</integer>
    <key>T</key>
    <integer>-30</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>one</key>
    <integer>35</integer>
    <key>four</key>
    <integer>-15</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>two</key>
    <integer>-15</integer>
    <key>six</key>
    <integer>-15</integer>
    <key>seven</key>
    <integer>-10</integer>
    <key>emdash</key>
    <integer>15</integer>
    <key>eight</key>
    <integer>-10</integer>
    <key>comma</key>
    <integer>-35</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>n</key>
    <integer>-10</integer>
    <key>c</key>
    <integer>-5</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>y</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>u</key>
    <integer>-5</integer>
    <key>quotedbl</key>
    <integer>-30</integer>
    <key>c</key>
    <integer>-5</integer>
    <key>asterisk</key>
    <integer>-55</integer>
    <key>Y</key>
    <integer>-50</integer>
    <key>W</key>
    <integer>-40</integer>
    <key>V</key>
    <integer>-45</integer>
    <key>T</key>
    <integer>-30</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>y</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-93</integer>
    <key>v</key>
    <integer>-97</integer>
    <key>u</key>
    <integer>-26</integer>
    <key>t</key>
    <integer>-109</integer>
    <key>quotedbl</key>
    <integer>-100</integer>
    <key>emdash</key>
    <integer>-40</integer>
    <key>c</key>
    <integer>-5</integer>
    <key>backslash</key>
    <integer>-50</integer>
    <key>b</key>
    <integer>-24</integer>
    <key>asterisk</key>
    <integer>-115</integer>
    <key>Y</key>
    <integer>-146</integer>
    <key>W</key>
    <integer>-134</integer>
    <key>V</key>
    <integer>-131</integer>
    <key>T</key>
    <integer>-150</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>slash</key>
    <integer>40</integer>
    <key>emdash</key>
    <integer>-60</integer>
    <key>c</key>
    <integer>-35</integer>
    <key>asterisk</key>
    <integer>15</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>c</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-30</integer>
    <key>W</key>
    <integer>-30</integer>
    <key>V</key>
    <integer>-30</integer>
    <key>C</key>
    <integer>-20</integer>
    <key>B</key>
    <integer>-15</integer>
  </dict>
  <key>guillemotright</key>
  <dict>
    <key>A</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>t</key>
    <integer>-20</integer>
    <key>Y</key>
    <integer>-80</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>W</key>
    <integer>-20</integer>
    <key>V</key>
    <integer>-60</integer>
    <key>T</key>
    <integer>-60</integer>
  </dict>
  <key>guillemotleft</key>
  <dict>
    <key>Y</key>
    <integer>-60</integer>
    <key>W</key>
    <integer>-20</integer>
    <key>V</key>
    <integer>-25</integer>
    <key>T</key>
    <integer>-60</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>b</key>
    <integer>-15</integer>
    <key>asterisk</key>
    <integer>-35</integer>
    <key>T</key>
    <integer>-40</integer>
    <key>B</key>
    <integer>-20</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>two</key>
    <integer>-25</integer>
    <key>three</key>
    <integer>-30</integer>
    <key>seven</key>
    <integer>-35</integer>
    <key>comma</key>
    <integer>-35</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>zero</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>-15</integer>
    <key>three</key>
    <integer>-15</integer>
    <key>comma</key>
    <integer>-35</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>A</key>
    <integer>-55</integer>
    <key>m</key>
    <integer>-25</integer>
    <key>comma</key>
    <integer>-80</integer>
    <key>colon</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-15</integer>
    <key>asterisk</key>
    <integer>5</integer>
    <key>a</key>
    <integer>-74</integer>
    <key>B</key>
    <integer>-20</integer>
  </dict>
  <key>emdash</key>
  <dict>
    <key>A</key>
    <integer>-10</integer>
    <key>z</key>
    <integer>-30</integer>
    <key>y</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-60</integer>
    <key>w</key>
    <integer>-15</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>two</key>
    <integer>-40</integer>
    <key>three</key>
    <integer>-40</integer>
    <key>t</key>
    <integer>-70</integer>
    <key>six</key>
    <integer>15</integer>
    <key>seven</key>
    <integer>-85</integer>
    <key>nine</key>
    <integer>-15</integer>
    <key>four</key>
    <integer>25</integer>
    <key>a</key>
    <integer>-20</integer>
    <key>Z</key>
    <integer>-50</integer>
    <key>Y</key>
    <integer>-60</integer>
    <key>W</key>
    <integer>-30</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-80</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>two</key>
    <integer>-20</integer>
    <key>three</key>
    <integer>-20</integer>
    <key>seven</key>
    <integer>-20</integer>
    <key>nine</key>
    <integer>-18</integer>
  </dict>
  <key>divide</key>
  <dict>
    <key>two</key>
    <integer>-55</integer>
    <key>three</key>
    <integer>-35</integer>
    <key>seven</key>
    <integer>-55</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>A</key>
    <integer>-15</integer>
    <key>z</key>
    <integer>-10</integer>
    <key>y</key>
    <integer>-35</integer>
    <key>x</key>
    <integer>-45</integer>
    <key>w</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>t</key>
    <integer>-30</integer>
    <key>n</key>
    <integer>-5</integer>
    <key>m</key>
    <integer>-10</integer>
    <key>comma</key>
    <integer>-55</integer>
    <key>b</key>
    <integer>-15</integer>
    <key>asterisk</key>
    <integer>-35</integer>
    <key>a</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-80</integer>
    <key>W</key>
    <integer>-35</integer>
    <key>V</key>
    <integer>-55</integer>
    <key>T</key>
    <integer>-60</integer>
    <key>B</key>
    <integer>-20</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>zero</key>
    <integer>-35</integer>
    <key>seven</key>
    <integer>-45</integer>
    <key>nine</key>
    <integer>-50</integer>
    <key>four</key>
    <integer>-50</integer>
  </dict>
  <key>colon</key>
  <dict>
    <key>nine</key>
    <integer>20</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>x</key>
    <integer>-5</integer>
    <key>c</key>
    <integer>20</integer>
    <key>B</key>
    <integer>-15</integer>
  </dict>
  <key>backslash</key>
  <dict>
    <key>A</key>
    <integer>20</integer>
    <key>y</key>
    <integer>-50</integer>
    <key>x</key>
    <integer>20</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>t</key>
    <integer>-30</integer>
    <key>m</key>
    <integer>20</integer>
    <key>a</key>
    <integer>20</integer>
    <key>M</key>
    <integer>20</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>y</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>c</key>
    <integer>5</integer>
    <key>asterisk</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-60</integer>
    <key>W</key>
    <integer>-35</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-55</integer>
    <key>B</key>
    <integer>-20</integer>
  </dict>
  <key>ae</key>
  <dict>
    <key>b</key>
    <integer>-10</integer>
    <key>asterisk</key>
    <integer>-15</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>y</key>
    <integer>-90</integer>
    <key>w</key>
    <integer>-90</integer>
    <key>v</key>
    <integer>-85</integer>
    <key>u</key>
    <integer>-40</integer>
    <key>t</key>
    <integer>-70</integer>
    <key>slash</key>
    <integer>40</integer>
    <key>quotedbl</key>
    <integer>-120</integer>
    <key>emdash</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-15</integer>
    <key>backslash</key>
    <integer>-50</integer>
    <key>asterisk</key>
    <integer>-120</integer>
    <key>Y</key>
    <integer>-130</integer>
    <key>W</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-145</integer>
    <key>U</key>
    <integer>-45</integer>
    <key>T</key>
    <integer>-85</integer>
    <key>C</key>
    <integer>-35</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>emdash</key>
    <integer>-50</integer>
    <key>c</key>
    <integer>10</integer>
    <key>C</key>
    <integer>-15</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>s</key>
    <integer>-30</integer>
    <key>quotedbl</key>
    <integer>40</integer>
    <key>m</key>
    <integer>-60</integer>
    <key>guillemotright</key>
    <integer>-60</integer>
    <key>guillemotleft</key>
    <integer>-80</integer>
    <key>emdash</key>
    <integer>-60</integer>
    <key>comma</key>
    <integer>-95</integer>
    <key>c</key>
    <integer>-80</integer>
    <key>b</key>
    <integer>-30</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>ae</key>
    <integer>-170</integer>
    <key>a</key>
    <integer>-130</integer>
    <key>M</key>
    <integer>-20</integer>
    <key>C</key>
    <integer>-35</integer>
    <key>AE</key>
    <integer>-135</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>slash</key>
    <integer>40</integer>
    <key>guillemotleft</key>
    <integer>-20</integer>
    <key>emdash</key>
    <integer>-60</integer>
    <key>c</key>
    <integer>-30</integer>
    <key>asterisk</key>
    <integer>10</integer>
    <key>C</key>
    <integer>-30</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
    <key>slash</key>
    <integer>-35</integer>
    <key>m</key>
    <integer>-40</integer>
    <key>guillemotright</key>
    <integer>-20</integer>
    <key>guillemotleft</key>
    <integer>-20</integer>
    <key>emdash</key>
    <integer>-30</integer>
    <key>comma</key>
    <integer>-55</integer>
    <key>c</key>
    <integer>-35</integer>
    <key>b</key>
    <integer>-30</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>ae</key>
    <integer>-150</integer>
    <key>a</key>
    <integer>-100</integer>
    <key>M</key>
    <integer>-10</integer>
    <key>C</key>
    <integer>-25</integer>
    <key>AE</key>
    <integer>-140</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-105</integer>
    <key>slash</key>
    <integer>-50</integer>
    <key>s</key>
    <integer>-20</integer>
    <key>quotedbl</key>
    <integer>35</integer>
    <key>m</key>
    <integer>-45</integer>
    <key>guillemotright</key>
    <integer>-25</integer>
    <key>guillemotleft</key>
    <integer>-60</integer>
    <key>emdash</key>
    <integer>-50</integer>
    <key>comma</key>
    <integer>-130</integer>
    <key>c</key>
    <integer>-55</integer>
    <key>b</key>
    <integer>-30</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>ae</key>
    <integer>-195</integer>
    <key>a</key>
    <integer>-155</integer>
    <key>M</key>
    <integer>-20</integer>
    <key>C</key>
    <integer>-35</integer>
    <key>AE</key>
    <integer>-175</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>A</key>
    <integer>-35</integer>
    <key>s</key>
    <integer>-15</integer>
    <key>n</key>
    <integer>-15</integer>
    <key>m</key>
    <integer>-25</integer>
    <key>c</key>
    <integer>-25</integer>
    <key>b</key>
    <integer>-25</integer>
    <key>a</key>
    <integer>-55</integer>
    <key>M</key>
    <integer>-20</integer>
    <key>C</key>
    <integer>-15</integer>
    <key>B</key>
    <integer>-13</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>C</key>
    <integer>-20</integer>
    <key>B</key>
    <integer>-5</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>A</key>
    <integer>-70</integer>
    <key>slash</key>
    <integer>-30</integer>
    <key>quotedbl</key>
    <integer>50</integer>
    <key>m</key>
    <integer>-30</integer>
    <key>guillemotright</key>
    <integer>-60</integer>
    <key>guillemotleft</key>
    <integer>-60</integer>
    <key>emdash</key>
    <integer>-80</integer>
    <key>comma</key>
    <integer>-80</integer>
    <key>c</key>
    <integer>-60</integer>
    <key>backslash</key>
    <integer>20</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>ae</key>
    <integer>-130</integer>
    <key>a</key>
    <integer>-85</integer>
    <key>T</key>
    <integer>15</integer>
    <key>M</key>
    <integer>-10</integer>
    <key>C</key>
    <integer>-25</integer>
    <key>AE</key>
    <integer>-125</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>asterisk</key>
    <integer>-25</integer>
    <key>a</key>
    <integer>-10</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>A</key>
    <integer>-30</integer>
    <key>y</key>
    <integer>-45</integer>
    <key>x</key>
    <integer>-30</integer>
    <key>w</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>u</key>
    <integer>-50</integer>
    <key>t</key>
    <integer>-35</integer>
    <key>slash</key>
    <integer>40</integer>
    <key>m</key>
    <integer>-25</integer>
    <key>guillemotleft</key>
    <integer>-30</integer>
    <key>c</key>
    <integer>-50</integer>
    <key>b</key>
    <integer>-30</integer>
    <key>asterisk</key>
    <integer>-80</integer>
    <key>a</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-70</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>W</key>
    <integer>-75</integer>
    <key>V</key>
    <integer>-75</integer>
    <key>U</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-55</integer>
    <key>S</key>
    <integer>-20</integer>
    <key>M</key>
    <integer>-25</integer>
    <key>J</key>
    <integer>-25</integer>
    <key>C</key>
    <integer>-45</integer>
    <key>B</key>
    <integer>-30</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-70</integer>
    <key>slash</key>
    <integer>-30</integer>
    <key>m</key>
    <integer>-25</integer>
    <key>comma</key>
    <integer>-120</integer>
    <key>c</key>
    <integer>-13</integer>
    <key>b</key>
    <integer>-10</integer>
    <key>ae</key>
    <integer>-145</integer>
    <key>a</key>
    <integer>-90</integer>
    <key>M</key>
    <integer>-30</integer>
    <key>C</key>
    <integer>5</integer>
    <key>B</key>
    <integer>-5</integer>
    <key>AE</key>
    <integer>-125</integer>
  </dict>
  <key>uni03A9</key>
  <dict>
    <key>B</key>
    <integer>-20</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>A</key>
    <integer>-15</integer>
    <key>c</key>
    <integer>-25</integer>
    <key>b</key>
    <integer>-10</integer>
    <key>a</key>
    <integer>-15</integer>
    <key>C</key>
    <integer>-20</integer>
    <key>B</key>
    <integer>-10</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>v</key>
    <integer>-25</integer>
    <key>u</key>
    <integer>-7</integer>
    <key>slash</key>
    <integer>25</integer>
    <key>quotedbl</key>
    <integer>-50</integer>
    <key>c</key>
    <integer>-10</integer>
    <key>backslash</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>-50</integer>
    <key>Y</key>
    <integer>-20</integer>
    <key>W</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-25</integer>
    <key>U</key>
    <integer>-20</integer>
    <key>T</key>
    <integer>-20</integer>
    <key>C</key>
    <integer>-15</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>y</key>
    <integer>-118</integer>
    <key>w</key>
    <integer>-93</integer>
    <key>v</key>
    <integer>-100</integer>
    <key>t</key>
    <integer>-100</integer>
    <key>quotedbl</key>
    <integer>-100</integer>
    <key>guillemotleft</key>
    <integer>-20</integer>
    <key>emdash</key>
    <integer>-50</integer>
    <key>backslash</key>
    <integer>-50</integer>
    <key>asterisk</key>
    <integer>-160</integer>
    <key>Y</key>
    <integer>-110</integer>
    <key>W</key>
    <integer>-89</integer>
    <key>V</key>
    <integer>-108</integer>
    <key>U</key>
    <integer>-15</integer>
    <key>T</key>
    <integer>-107</integer>
    <key>C</key>
    <integer>-20</integer>
    <key>B</key>
    <integer>-15</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>slash</key>
    <integer>40</integer>
    <key>emdash</key>
    <integer>-60</integer>
    <key>c</key>
    <integer>-40</integer>
    <key>backslash</key>
    <integer>20</integer>
    <key>C</key>
    <integer>-30</integer>
  </dict>
  <key>IJ</key>
  <dict>
    <key>c</key>
    <integer>-10</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>u</key>
    <integer>-20</integer>
    <key>c</key>
    <integer>-20</integer>
    <key>b</key>
    <integer>-15</integer>
    <key>uni03A9</key>
    <integer>-20</integer>
    <key>C</key>
    <integer>-20</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>A</key>
    <integer>-5</integer>
    <key>b</key>
    <integer>-10</integer>
    <key>asterisk</key>
    <integer>-30</integer>
    <key>a</key>
    <integer>-20</integer>
    <key>T</key>
    <integer>-16</integer>
    <key>B</key>
    <integer>-25</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-70</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>slash</key>
    <integer>-30</integer>
    <key>m</key>
    <integer>-30</integer>
    <key>comma</key>
    <integer>-85</integer>
    <key>c</key>
    <integer>-15</integer>
    <key>b</key>
    <integer>-40</integer>
    <key>asterisk</key>
    <integer>15</integer>
    <key>ae</key>
    <integer>-140</integer>
    <key>a</key>
    <integer>-80</integer>
    <key>M</key>
    <integer>-30</integer>
    <key>C</key>
    <integer>-20</integer>
    <key>AE</key>
    <integer>-115</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>A</key>
    <integer>-35</integer>
    <key>comma</key>
    <integer>-60</integer>
    <key>b</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>-20</integer>
    <key>a</key>
    <integer>-35</integer>
    <key>Z</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-35</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>W</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-35</integer>
    <key>U</key>
    <integer>-15</integer>
    <key>T</key>
    <integer>-25</integer>
    <key>M</key>
    <integer>-15</integer>
    <key>B</key>
    <integer>-20</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>b</key>
    <integer>-10</integer>
    <key>asterisk</key>
    <integer>-30</integer>
    <key>a</key>
    <integer>-15</integer>
    <key>Z</key>
    <integer>-5</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>W</key>
    <integer>-15</integer>
    <key>V</key>
    <integer>-20</integer>
    <key>C</key>
    <integer>5</integer>
    <key>B</key>
    <integer>-10</integer>
  </dict>
  <key>AE</key>
  <dict>
    <key>u</key>
    <integer>-15</integer>
    <key>b</key>
    <integer>-5</integer>
    <key>asterisk</key>
    <integer>-15</integer>
    <key>C</key>
    <integer>-20</integer>
    <key>B</key>
    <integer>-10</integer>
  </dict>
</dict>
</plist>
