<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>700</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 30</key>
      <dict>
        <key>width</key>
        <integer>30</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>50</key>
          <integer>2</integer>
          <key>84</key>
          <integer>3</integer>
          <key>117</key>
          <integer>4</integer>
          <key>150</key>
          <integer>5</integer>
          <key>184</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 65</key>
      <dict>
        <key>width</key>
        <integer>65</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>24</key>
          <integer>2</integer>
          <key>39</key>
          <integer>3</integer>
          <key>54</key>
          <integer>4</integer>
          <key>70</key>
          <integer>5</integer>
          <key>85</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>uni0394</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>uni0122</string>
    <string>Gdotaccent</string>
    <string>H</string>
    <string>Hbar</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>J</string>
    <string>K</string>
    <string>uni0136</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>uni013B</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>uni0145</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>uni03A9</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>uni0218</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>approxequal</string>
    <string>aring</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>cacute</string>
    <string>caron</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>circumflex</string>
    <string>colon</string>
    <string>comma</string>
    <string>uni0326</string>
    <string>copyright</string>
    <string>currency</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccent</string>
    <string>dotlessi</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>eight</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>eogonek</string>
    <string>equal</string>
    <string>eth</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>fi</string>
    <string>five</string>
    <string>fl</string>
    <string>florin</string>
    <string>four</string>
    <string>fraction</string>
    <string>g</string>
    <string>gbreve</string>
    <string>uni0123</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>infinity</string>
    <string>integral</string>
    <string>iogonek</string>
    <string>j</string>
    <string>k</string>
    <string>uni0137</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>uni013C</string>
    <string>ldot</string>
    <string>less</string>
    <string>lessequal</string>
    <string>logicalnot</string>
    <string>lozenge</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>minus</string>
    <string>uni03BC</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>uni0146</string>
    <string>nine</string>
    <string>notequal</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ogonek</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>one</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>onesuperior</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>partialdiff</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>pi</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>product</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>radical</string>
    <string>rcaron</string>
    <string>uni0157</string>
    <string>registered</string>
    <string>ring</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>uni0219</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>six</string>
    <string>slash</string>
    <string>uni00AD</string>
    <string>space</string>
    <string>sterling</string>
    <string>summation</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>uni0163</string>
    <string>thorn</string>
    <string>three</string>
    <string>threequarters</string>
    <string>threesuperior</string>
    <string>tilde</string>
    <string>trademark</string>
    <string>two</string>
    <string>twosuperior</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>ygrave</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
    <string>A.001</string>
    <string>AE.001</string>
    <string>Aacute.001</string>
    <string>Abreve.001</string>
    <string>Acircumflex.001</string>
    <string>Adieresis.001</string>
    <string>Agrave.001</string>
    <string>Amacron.001</string>
    <string>Aogonek.001</string>
    <string>Aring.001</string>
    <string>Atilde.001</string>
    <string>B.001</string>
    <string>C.001</string>
    <string>Cacute.001</string>
    <string>Ccaron.001</string>
    <string>Ccedilla.001</string>
    <string>Cdotaccent.001</string>
    <string>D.001</string>
    <string>Dcaron.001</string>
    <string>Dcroat.001</string>
    <string>uni0394.001</string>
    <string>E.001</string>
    <string>Eacute.001</string>
    <string>Ecaron.001</string>
    <string>Ecircumflex.001</string>
    <string>Edieresis.001</string>
    <string>Edotaccent.001</string>
    <string>Egrave.001</string>
    <string>Emacron.001</string>
    <string>Eng.001</string>
    <string>Eogonek.001</string>
    <string>Eth.001</string>
    <string>F.001</string>
    <string>G.001</string>
    <string>Gbreve.001</string>
    <string>uni0122.001</string>
    <string>Gdotaccent.001</string>
    <string>H.001</string>
    <string>Hbar.001</string>
    <string>I.001</string>
    <string>IJ.001</string>
    <string>Iacute.001</string>
    <string>Icircumflex.001</string>
    <string>Idieresis.001</string>
    <string>Idotaccent.001</string>
    <string>Igrave.001</string>
    <string>Imacron.001</string>
    <string>Iogonek.001</string>
    <string>J.001</string>
    <string>K.001</string>
    <string>uni0136.001</string>
    <string>L.001</string>
    <string>Lacute.001</string>
    <string>Lcaron.001</string>
    <string>uni013B.001</string>
    <string>Ldot.001</string>
    <string>Lslash.001</string>
    <string>M.001</string>
    <string>N.001</string>
    <string>Nacute.001</string>
    <string>Ncaron.001</string>
    <string>uni0145.001</string>
    <string>Ntilde.001</string>
    <string>O.001</string>
    <string>OE.001</string>
    <string>Oacute.001</string>
    <string>Ocircumflex.001</string>
    <string>Odieresis.001</string>
    <string>Ograve.001</string>
    <string>Ohungarumlaut.001</string>
    <string>Omacron.001</string>
    <string>uni03A9.001</string>
    <string>Oslash.001</string>
    <string>Otilde.001</string>
    <string>P.001</string>
    <string>Q.001</string>
    <string>R.001</string>
    <string>Racute.001</string>
    <string>Rcaron.001</string>
    <string>uni0156.001</string>
    <string>S.001</string>
    <string>Sacute.001</string>
    <string>Scaron.001</string>
    <string>Scedilla.001</string>
    <string>uni0218.001</string>
    <string>T.001</string>
    <string>Tbar.001</string>
    <string>Tcaron.001</string>
    <string>uni0162.001</string>
    <string>uni021A.001</string>
    <string>Thorn.001</string>
    <string>U.001</string>
    <string>Uacute.001</string>
    <string>Ucircumflex.001</string>
    <string>Udieresis.001</string>
    <string>Ugrave.001</string>
    <string>Uhungarumlaut.001</string>
    <string>Umacron.001</string>
    <string>Uogonek.001</string>
    <string>Uring.001</string>
    <string>V.001</string>
    <string>W.001</string>
    <string>Wacute.001</string>
    <string>Wcircumflex.001</string>
    <string>Wdieresis.001</string>
    <string>Wgrave.001</string>
    <string>X.001</string>
    <string>Y.001</string>
    <string>Yacute.001</string>
    <string>Ycircumflex.001</string>
    <string>Ydieresis.001</string>
    <string>Ygrave.001</string>
    <string>Z.001</string>
    <string>Zacute.001</string>
    <string>Zcaron.001</string>
    <string>Zdotaccent.001</string>
    <string>a.001</string>
    <string>aacute.001</string>
    <string>abreve.001</string>
    <string>acircumflex.001</string>
    <string>acute.001</string>
    <string>adieresis.001</string>
    <string>ae.001</string>
    <string>agrave.001</string>
    <string>amacron.001</string>
    <string>ampersand.001</string>
    <string>aogonek.001</string>
    <string>approxequal.001</string>
    <string>aring.001</string>
    <string>asciicircum.001</string>
    <string>asciitilde.001</string>
    <string>asterisk.001</string>
    <string>at.001</string>
    <string>atilde.001</string>
    <string>b.001</string>
    <string>backslash.001</string>
    <string>bar.001</string>
    <string>braceleft.001</string>
    <string>braceright.001</string>
    <string>bracketleft.001</string>
    <string>bracketright.001</string>
    <string>breve.001</string>
    <string>brokenbar.001</string>
    <string>bullet.001</string>
    <string>c.001</string>
    <string>cacute.001</string>
    <string>caron.001</string>
    <string>ccaron.001</string>
    <string>ccedilla.001</string>
    <string>cdotaccent.001</string>
    <string>cedilla.001</string>
    <string>cent.001</string>
    <string>circumflex.001</string>
    <string>colon.001</string>
    <string>comma.001</string>
    <string>uni0326.001</string>
    <string>copyright.001</string>
    <string>currency.001</string>
    <string>d.001</string>
    <string>dagger.001</string>
    <string>daggerdbl.001</string>
    <string>dcaron.001</string>
    <string>dcroat.001</string>
    <string>degree.001</string>
    <string>dieresis.001</string>
    <string>divide.001</string>
    <string>dollar.001</string>
    <string>dotaccent.001</string>
    <string>dotlessi.001</string>
    <string>e.001</string>
    <string>eacute.001</string>
    <string>ecaron.001</string>
    <string>ecircumflex.001</string>
    <string>edieresis.001</string>
    <string>edotaccent.001</string>
    <string>egrave.001</string>
    <string>eight.001</string>
    <string>ellipsis.001</string>
    <string>emacron.001</string>
    <string>emdash.001</string>
    <string>endash.001</string>
    <string>eng.001</string>
    <string>eogonek.001</string>
    <string>equal.001</string>
    <string>eth.001</string>
    <string>Euro.001</string>
    <string>exclam.001</string>
    <string>exclamdown.001</string>
    <string>f.001</string>
    <string>fi.001</string>
    <string>five.001</string>
    <string>fl.001</string>
    <string>florin.001</string>
    <string>four.001</string>
    <string>fraction.001</string>
    <string>g.001</string>
    <string>gbreve.001</string>
    <string>uni0123.001</string>
    <string>gdotaccent.001</string>
    <string>germandbls.001</string>
    <string>grave.001</string>
    <string>greater.001</string>
    <string>greaterequal.001</string>
    <string>guillemotleft.001</string>
    <string>guillemotright.001</string>
    <string>guilsinglleft.001</string>
    <string>guilsinglright.001</string>
    <string>h.001</string>
    <string>hbar.001</string>
    <string>hungarumlaut.001</string>
    <string>hyphen.001</string>
    <string>i.001</string>
    <string>iacute.001</string>
    <string>icircumflex.001</string>
    <string>idieresis.001</string>
    <string>igrave.001</string>
    <string>ij.001</string>
    <string>imacron.001</string>
    <string>infinity.001</string>
    <string>integral.001</string>
    <string>iogonek.001</string>
    <string>j.001</string>
    <string>k.001</string>
    <string>uni0137.001</string>
    <string>l.001</string>
    <string>lacute.001</string>
    <string>lcaron.001</string>
    <string>uni013C.001</string>
    <string>ldot.001</string>
    <string>less.001</string>
    <string>lessequal.001</string>
    <string>logicalnot.001</string>
    <string>lozenge.001</string>
    <string>lslash.001</string>
    <string>m.001</string>
    <string>macron.001</string>
    <string>minus.001</string>
    <string>uni03BC.001</string>
    <string>multiply.001</string>
    <string>n.001</string>
    <string>nacute.001</string>
    <string>ncaron.001</string>
    <string>uni0146.001</string>
    <string>nine.001</string>
    <string>notequal.001</string>
    <string>ntilde.001</string>
    <string>numbersign.001</string>
    <string>o.001</string>
    <string>oacute.001</string>
    <string>ocircumflex.001</string>
    <string>odieresis.001</string>
    <string>oe.001</string>
    <string>ogonek.001</string>
    <string>ograve.001</string>
    <string>ohungarumlaut.001</string>
    <string>omacron.001</string>
    <string>one.001</string>
    <string>onehalf.001</string>
    <string>onequarter.001</string>
    <string>onesuperior.001</string>
    <string>ordfeminine.001</string>
    <string>ordmasculine.001</string>
    <string>oslash.001</string>
    <string>otilde.001</string>
    <string>p.001</string>
    <string>paragraph.001</string>
    <string>parenleft.001</string>
    <string>parenright.001</string>
    <string>partialdiff.001</string>
    <string>percent.001</string>
    <string>period.001</string>
    <string>periodcentered.001</string>
    <string>perthousand.001</string>
    <string>pi.001</string>
    <string>plus.001</string>
    <string>plusminus.001</string>
    <string>product.001</string>
    <string>q.001</string>
    <string>question.001</string>
    <string>questiondown.001</string>
    <string>quotedbl.001</string>
    <string>quotedblbase.001</string>
    <string>quotedblleft.001</string>
    <string>quotedblright.001</string>
    <string>quoteleft.001</string>
    <string>quoteright.001</string>
    <string>quotesinglbase.001</string>
    <string>quotesingle.001</string>
    <string>r.001</string>
    <string>racute.001</string>
    <string>radical.001</string>
    <string>rcaron.001</string>
    <string>uni0157.001</string>
    <string>registered.001</string>
    <string>ring.001</string>
    <string>s.001</string>
    <string>sacute.001</string>
    <string>scaron.001</string>
    <string>scedilla.001</string>
    <string>uni0219.001</string>
    <string>section.001</string>
    <string>semicolon.001</string>
    <string>seven.001</string>
    <string>six.001</string>
    <string>slash.001</string>
    <string>uni00AD.001</string>
    <string>space.001</string>
    <string>sterling.001</string>
    <string>summation.001</string>
    <string>t.001</string>
    <string>tbar.001</string>
    <string>tcaron.001</string>
    <string>uni0163.001</string>
    <string>uni021B.001</string>
    <string>thorn.001</string>
    <string>three.001</string>
    <string>threequarters.001</string>
    <string>threesuperior.001</string>
    <string>tilde.001</string>
    <string>trademark.001</string>
    <string>two.001</string>
    <string>twosuperior.001</string>
    <string>u.001</string>
    <string>uacute.001</string>
    <string>ucircumflex.001</string>
    <string>udieresis.001</string>
    <string>ugrave.001</string>
    <string>uhungarumlaut.001</string>
    <string>umacron.001</string>
    <string>underscore.001</string>
    <string>uogonek.001</string>
    <string>uring.001</string>
    <string>v.001</string>
    <string>w.001</string>
    <string>wacute.001</string>
    <string>wcircumflex.001</string>
    <string>wdieresis.001</string>
    <string>wgrave.001</string>
    <string>x.001</string>
    <string>y.001</string>
    <string>yacute.001</string>
    <string>ycircumflex.001</string>
    <string>ydieresis.001</string>
    <string>yen.001</string>
    <string>ygrave.001</string>
    <string>z.001</string>
    <string>zacute.001</string>
    <string>zcaron.001</string>
    <string>zdotaccent.001</string>
    <string>zero.001</string>
    <string>A</string>
  </array>
</dict>
</plist>
